html {
    background-color: grey;
    background-image: url('https://www.worldatlas.com/upload/7d/db/c3/shutterstock-1558058690.jpg');
}

.header {
    text-align: center;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: #ffd900cc;
}

.tile.is-child.box {
    background-color: #0c0f1c;
    color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.524);
}

#map {
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.357);
}