body {
  font-family: "Audiowide", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  background-color: grey;
  background-image: url("https://www.worldatlas.com/upload/7d/db/c3/shutterstock-1558058690.jpg");
}

.header {
  text-align: center;
  margin: 100px;
  font-family: "Audiowide", sans-serif;
}

#footer-header {
  display: flex;
  background-color: #0c0f1c;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.dropdown {
  height: 40px;
}

select {
  width: 200px;
  background-color: grey;
}
.overflow {
  height: 200px;
}
#categories-search {
  background-color: grey;
}

#navigation {
  justify-self: flex-start;
}

#home-button {
  background-color: grey;
}

#APoD-button {
  background-color: grey;
}

.title {
  font-family: "Roboto", sans-serif;
  color: #ffd900cc;
}

.eonet-values {
  color: rgba(255, 255, 255, 0.709);
}

.tile.is-child.box {
  background-color: #0c0f1c;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.524);
}
.tile.is-ancestor {
  margin-right: -30rem;
  margin-left: 0rem;
  padding: 0%;
}

.wrapper {
  flex: initial;
}

#google-map {
  flex: initial;
  border-radius: 10px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.357);
  float: right;
}

.selections {
  width: 600px;
}

.map {
  flex: initial;
  height: 550px;
  width: 550px;
  background-color: rgba(0, 0, 0, 0.923);
}

#main-content {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

#layer-select {
  color: #ffd900cc;
  background-color: #0c0f1c;
  width: 550px;
}
