
header {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #0c0f1c;
    font-size: 45px;
    color: #ffd900cc;
    height: 80px;
}

footer {
    height:auto;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffd900cc;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    background-color: #0c0f1c;
}

.hero {
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.tile.is-child.box {
    background-color: #0c0f1cdc;
    color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title {
    font-family: 'Roboto', sans-serif;
    color: #ffd900cc;
}

.description {
    font-family: 'Arial', sans-serif;
}

.apod {
    position: absolute;
    text-align: center;
    top: 70%;
    left: 1%;
}

.section {
    padding: 150px;
    background-image: url("../images/hubble-30th-veil-nebula.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    border: solid black 5px;
}
