#homepage-title {
    margin: 5% 0;
}

.section {
    padding-left: 200px;
    padding-top: 300px;
}

.tile.is-child.box {
    background-color: #0c0f1c;
    color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

.title {
    font-family: 'Roboto', sans-serif;
    color: #ffd900cc;
}

.description {
    font-family: 'Arial', sans-serif;
}

.header {
    text-align: center;
    color: aqua;
}

.apod {
    text-align: center;
    padding-top: 300px;
   padding-left: 380px;
}

.container {
    padding-top: 300px;
}
